*{
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}

h6 a{
	text-decoration: none;
}
.welcome h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    color: #fff;
    
}

.welcome h2 {
    color: aliceblue;
    margin: 10px;
    font-size: 20px;
}

.welcome .box {
    margin: 2rem;
    border: 1px solid #bbbbbb;
    padding: 3rem;   
}

.welcome .box h3 {
    font-weight: 700;
    font-size: 20px;
}

.welcome .box h3 a {
    color: #fff;
}

.welcome .box h3 a:hover {
    color: #ffc451;

}

.welcome .box:hover {

    border-color: #ed7700;
}
.welcome p{
    color: white;
}

.welcome .search {
    /* width: 100%; */
    position: relative;
    display: flex;
    margin: 10px;
}

.welcome .searchTerm {
    width: 100%;
    border: 3px solid #ed7700;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.welcome .searchTerm:focus {
    color: #ed7700;
}

.welcome .searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #0081c9;
    background: #0081c9;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.welcome .wrap {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap-b {
    align-items: center;
    /* top: 100%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 2px #aaaaaa solid;
    background-color: #ed7700;
    
    border-radius: 50px;
    


}

.welcome button a {
    text-decoration: none;
    color: bisque;
    font-size: 20px;
}
.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
}
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
}
.featured-item:hover {
	opacity: 0.9;
}
.featured-item img {
	width: 100%;
}
.featured-item h4 {
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
	transition: all 0.5s;
}
.featured-item:hover h4 {
	color: #3a8bcd;
}
.featured-item h6 {
	color: #3a8bcd;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 0px;
}